@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #200E13;
  --card-color: #2E1A1E;
  --text-color: #FFF8F7;
  --label-color: #B19B9E;
  --label-text-font: inherit;


  --background-color: #2e3242;
  --card-color: #3d4359;
  --label-color: #9babb1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, div#app {
  background: var(--background-color);
  width: 100dvw;
  height: 100dvh;
  overflow-y: auto;
}



h1 {
  color: var(--text-color);
  font-size: 1.625rem;
  font-weight: 300;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

h3, ::placeholder { 
  font-size: 1rem;
  font-weight: 400;
  color: var(--label-color);
  text-transform: capitalize;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
}